<div
  class="modal fade"
  id="comment"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"
          >Bài viết
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- <div class="modal-body">
        
      </div> -->
      <div
        class="modal-footer d-flex flex-wrap justify-content-between align-items-center"
      >
        <form action="/comment" method="POST" class="w-100 d-flex">
          <input type="hidden" name="blogid" value="blogId" />
          <textarea
            name="comment"
            style="padding: 5px 5 0"
            placeholder="What're u thinking?"
            class="form-control mb-2 flex-grow-1"
          ></textarea>
          <button class="btn ml-2" type="submit">
            <i class="bx bx-send" style="color: blue; font-size: 24px"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const commentButtons = document.querySelectorAll(
    '.btn[data-bs-target="#comment"]'
  );

  commentButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const blogId = button.dataset.blogid;

      // Access the hidden blog ID field in the edit modal
      const modalContent = document
        .getElementById("comment")
        .querySelector(".modal-content");
      const hiddenBlogIdField = modalContent.querySelector(
        'input[name="blogid"]'
      );

      // Populate the hidden blog ID field with the retrieved blog ID
      hiddenBlogIdField.value = blogId;

      // ... other logic to populate content, image preview (if applicable)
      const contentField = modalContent.querySelector(
        'textarea[name="comment"]'
      );
      contentField.value = content;
    });
  });
</script>
